:root {
  --primary-color: #9BBEC8;
  --secondary-color: #164863;
  --third-color:#427D9D;
  --forth-color:#DDF2FD;
}
body{
  display: inline;
  margin: 0px;
  padding: 0px;
  background-color: var(--forth-color);
}
@media (min-width:768px){
  body{
    overflow: hidden;
  }
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  
}