.nav{
    width: 100%;
    display: flex;
}
.title-holder{
    display: flex;
    align-items: center;
}
.title{
    font-size: larger;
    font-weight: bolder;
}
.logo{
    width: 10%;
    height:auto;
}